name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Go fmt
        run: |
          fmt_out=$(gofmt -l .)
          if [[ -n "$fmt_out" ]]; then
            echo "$fmt_out"
            exit 1
          fi
      - name: Go test
        run: go test ./...
      - name: Smoke test
        run: |
          make build-daemon build-cli >/dev/null
          make smoke
